.funcfact {
  text-align: center;
  font-family: "Special Elite", cursive;
  border: 1px solid #ccc;
  width: 900px;
  height: 320px;
  padding-top: 80px;
  margin: 100px auto auto auto;
  color: #3f2314;
  background: #74aa2e;
  opacity: 0.7;
  border-radius: 5px;
  font-size: 1.5em;
}

.title {
  color: white;
}
